* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;

}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #ba7735;
}
  
::selection {
    color: white;
    background: #ba7735;
}